{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content%}

<h1>Добро пожаловать на наш сайт {{caption}}, созданный с использованием Django!  </h1>

<h3>Мы вы найдете все необходимые инструменты для управления вашим контентом и взаимодействия с пользователями. Наша платформа предлагает удобный интерфейс и множество функций, которые помогут вам эффективно развивать свой проект. </h3>

<h4> Основные возможности нашего сайта включают: </h4>
<p>- Управление пользователями и их ролями
- Публикация новостей и статей
- Организация и проведение мероприятий
- Обратная связь и поддержка пользователей </p>

<p> Мы стремимся сделать ваш опыт работы с нашим сайтом максимально удобным и продуктивным. Наши разработчики постоянно работают над улучшением функционала и добавлением новых возможностей.

Если у вас есть предложения или вопросы, не стесняйтесь обращаться к нам через форму обратной связи. Мы всегда рады помочь и учесть ваши пожелания.</p>

<h5>Спасибо, что выбрали нас!</h5>
{% endblock %}